<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head">
    <title>Admin page</title></head>
<body>

<section class="content-profile">
    <h2 class="text brown size-h2">ADMIN PAGE</h2>
    <div class="btn-container">
        <div class="btn-wrapper">
            <a th:href="@{/admin/add-product}" class="btn btn-red btn-header-red">ADD PRODUCT</a>
        </div>
        <div class="btn-wrapper margin-top-btn">
            <a th:href="@{/admin/all-users}" class="btn btn-red btn-header-red">ALL USERS</a>
        </div>
    </div>
</section>

<div class="topic margin-top-topic">
    <h2 class="brown text">STATISTIC FOR THE ORDERS</h2>
    <p class="red">This is the actual statistic of the offers made:</p>
</div>

<article class="statistic-content">
    <table id="my-table" class="table table-hover" th:object="${orders}">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Total amount in LV</th>
            <th scope="col">Date</th>
            <th scope="col">User phone number</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="o : ${orders}">
            <th scope="row" th:text="${o.id}"></th>
            <td th:text="${o.totalValue}"></td>
            <td th:text="${o.date}"></td>
            <td th:text="${o.payment}"></td>
            <td th:text="${o.client}"></td>
            <td th:text="${o.delivery}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </tfoot>
    </table>
</article>

<div class="topic">
    <h2 class="brown text">STATISTIC FOR THE VISITATIONS</h2>
    <p class="red">This is the actual statistic of the web application usage:</p>
</div>

<article class="statistic-content">
    <table id="my-table2" class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">IP Address</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody id="statistic-tBody">
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </tfoot>
    </table>
</article>

<div th:replace="fragments/fragment::footer"></div>
<script th:src="@{../js/statistic.js}"></script>
<script>
    $('#my-table').ddTableFilter();
    $('#my-table2').ddTableFilter();
</script>

</body>
</html>
