    <!DOCTYPE html>
<html lang="en" >

<head th:replace="fragments/fragment::head"><title></title></head>

<body>

<div th:replace="fragments/fragment::navbar"></div>
<main class="container-fluid">
    <div class="container" id="container-table">

        <h2 class="text-center m-3">All Authors</h2>
        <div class='row mb-4 d-flex justify-content-around'>
            <div th:each="author: ${authors}"
                 class="brand-section d-flex flex-column">
                <h4>Author:
                    <span  th:text="${author.name}">Author name</span>
                </h4>
                <div class="brand-table">Product:
                    <table>
                        <tr>
                            <th>No</th>
                            <th>Product Name</th>
                            <th>Product Category</th>
                            <th>Year</th>
                            <th>Width</th>
                            <th>Length</th>
                            <th>Picture</th>
                        </tr>
                        <tr th:each="product, iter:${author.products}"
                            th:object="${product}">
                            <th th:text="${iter.index}+1">No</th>
                            <th th:text="*{name}">Name</th>
                            <th th:text="*{category}">Category</th>
                            <th th:text="*{year}">Year</th>
                            <th th:text="*{width}?:'-'">Width</th>
                            <th th:text="*{length}?:'-'">Length</th>
                            <th><img alt="image" th:src="*{imageUrl}"
                                     class="img-thumbnail rounded"></th>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</main>
<div>
    <footer th:replace="fragments/fragment::footer"> </footer>
</div>
</body>

</html>
