<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head"><title>Forgot Password</title></head>
<body>
<header th:replace="fragments/fragment::navbar">Navbar</header>
    <main >
        <div class="container"  id="container">
        <form class="flex-column justify-content-center">
            <div class="form-content justify-content-center">
                <div id="login-form" class="login-form">
                    <div class="title">Forgot Password</div>
                    <div class="row">
                        <div class="text">
                            <p>Please enter your email address below,
                                so we will send you information to change your password.</p>
                            <label class="label-default" >Email Address</label>
                                <form th:action="@{/password/resetPassword}"
                                      th:method="post"
                                      th:object="${forgotPasswordForm}">
                                    <div>
                                        <input
                                                id="email"
                                                name="email"
                                                type="text"
                                                th:field="*{email}"
                                                class="form-control mr-sm-1"
                                                placeholder="Enter your email" required/>
                                        <div class="button input-box align-content-center">
                                            <input type="submit" class="button" value="Submit">
                                        </div>
                                        <div th:if="${#fields.hasErrors('email')}" class="errors alert alert-danger">
                                            You should enter your email.
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
            </div>
            </div>
        </form>
        </div>
    </main>
</body>
</html>